<div class="container mt-4">
  <div class="card">
    <div class="card-header display-4 text-center">Products List</div>
    <div class="card-body">
      <div class="d-flex d-flex flex-wrap overflow-auto">
        <div *ngFor="let product of allproducts">
          <div class="card mt-2 mr-2 ml-2">
            <div class="card-body">
              <img style="width: 200px;" class="ml-auto mr-auto" [src]="product.imgurl">
              <p class="text-center">{{product.title}}</p>
              <p class="text-center">${{product.price}}</p>
              <a class="btn btn-primary ml-4" [routerLink]="['edit', product._id]">Edit</a>
              <button class="btn btn-danger ml-4" (click)="deleteProduct(product._id)">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>